.lj-pagination{
	margin: 10px 0;
	color: #282F31;
}

.lj-pagination.hidden{
	display: none;
}

.lj-page{
	margin: 0;
	border-radius: 3px;
	display: inline-block;
}

.lj-page:after{
	content: " ";
	display: table;
	clear: both;
}


.lj-page li{
	float: left;
	border: 1px solid #e6e6e6;
	display: inline-block;
	cursor: pointer;
	transition: all 0.35s ease 0s;
	-webkit-transition: all 0.35s ease 0s;
}

.lj-page li:last-of-type{
	border-right: none;
}

.lj-page li:hover{
	background: #1cb2ef;
	color:  white;
	border: 1px solid #00a3e6;
}

.lj-page li.active{
	background: #1cb2ef;
	color:  white;
	border: 1px solid #00a3e6;
}

.lj-page li span{
	padding: 1em;
	display: inline-block;
}