@import "variables.styl"
@import "reset.styl"

*{
  box-sizing: border-box;
}

@font-face
  font-family Raleway-Regular
  src url('../font/Raleway-Regular.ttf')

@font-face
  font-family Raleway-Light
  src url('../font/Raleway-Light.ttf')

@font-face
  font-family Raleway-ExtraLight
  src url('../font/Raleway-ExtraLight.ttf')

@font-face
  font-family Raleway-SemiBold
  src url('../font/Raleway-SemiBold.ttf')

.raleway-first-font
  font-family Raleway-Regular,"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei",Arial,"Microsoft Yahei",Verdana,sans-serif

.pingfang-first-font
  font-family "PingFang SC","Helvetica Neue",Helvetica,"Hiragino Sans GB","WenQuanYi Micro Hei",Arial,"Microsoft Yahei",Verdana,sans-serif

.raleway-regular-font
  font-family Raleway-Regular,"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei",Arial,"Microsoft Yahei",Verdana,sans-serif

html, body, a
  @extend .raleway-first-font
  color textColor
  text-decoration none

h2
  font-family Raleway-Regular

body
  min-width 1200px
  background #F1F5F6

button,input,select,textarea
  border-radius 3px

.hidden
  display none

ul.list
  font-size 0
  li
    display inline-block
    font-size 1rem

a:hover
  opacity 0.8

.btn-common
  margin 5px
  border-radius 3px
  padding 10px

.btn-detail
  background rgba(255,255,255,0.10)
  border 1px solid #ffffff

.btn-blue
  background #00BDEF
  box-shadow 0px 1px 4px 0px rgba(0,0,0,0.50)
  color #fff

.btn-green
  background #33C96F
  color #FFFFFF
  line-height 16px

.cancel
  background url(../img/icon/cancel.png) no-repeat
  width 16px
  height 16px

.main-container
    max-width 1080px
    margin 30px auto

.absolute-center
    margin auto
    position absolute
    top 0
    left 0
    bottom 0
    right 0

.btn-github
  btn(url(../img/icon/github.png), white, 1, 85, 30)

h1
  font-size 3.75rem
  font-weight 100
h2
  @extend .pingfang-first-font
  font-size 1.5rem
  font-weight 100
h3
  font-size 1rem
h4
  font-size 1rem
  font-weight 600
  @extend .pingfang-first-font
h5
  font-size 20px
