clearfix()
	&:before, &:after
		content " "
		display table
	&:after
		clear: both
	
pull-left()
	float left

pull-right()
	float right
    
ellipsis()
	text-overflow ellipsis
	overflow hidden
	white-space nowrap
	
boxShadow(color = #ddd)
	box-shadow: 0px 1px 4px 0px color

.clearfix
	clearfix()
	

	
textColor = #282F31

blue = #00cff5

green = #33C96F

gray = #909292

btn(bg, color, fontSize, w, h)
	background bg
	color white
	width unit(w, px)
	height unit(h, px)
	font-size unit(fontSize, rem)
	text-align center
